@charset "UTF-8";
body {background-color:#05475c;}
h2 {color:white;font-family: Arial, Helvetica, sans-serif;}
nav {background-color:#053642; border: 2px solid #fcbc30; color:white; padding-top:5px; padding-bottom:5px}
ul {list-style-type: none;}
li{display:inline;}
li a {padding:10px;font-family: Arial, Helvetica, sans-serif;text-decoration: none;}
li a:hover {background-color: #57e389;}
a:link {
  color: black; background-color:#fcbc30
}

/* visited link */
a:visited {
  color: black; background-color:#fcbc30;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}
form {padding-top:40px;font-family: Arial, Helvetica, sans-serif; color:white;}
