<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StudentRegistrationServlet</servlet-name>
  	<display-name>StudentRegistrationServlet</display-name>
  	<description>Registration</description>
  	<servlet-class>com.J1ggy.StudentRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLoginDetailsServlet</servlet-name>
  	<display-name>StudentLoginDetailsServlet</display-name>
  	<description>GetLoginDetails</description>
  	<servlet-class>com.J1ggy.StudentLoginDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<display-name>StudentLoginServlet</display-name>
  	<description>Login</description>
  	<servlet-class>com.J1ggy.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentRegistrationServlet</servlet-name>
  	<url-pattern>/StudentRegistrationServletPath</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>StudentLoginDetailsServlet</servlet-name>
  	<url-pattern>/StudentLoginDetailsPath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<url-pattern>/StudentLoginServletPath</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
